/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*media querie*/
/*============================
=            Base            =
============================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
body {
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  width: 100%;
  min-height: 100%;
  overflow: scroll;
  background: #f8f8f8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

.alerta-empty {
  display: none;
  color: #ccc; }

.margem-bottom {
  margin-bottom: 15px; }

.margem-bottom-2x {
  margin-bottom: 30px; }

.margem-topo {
  margin-top: 15px; }

.margem-topo-2x {
  margin-top: 30px; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.tx-red {
  color: #e74c33; }

.tx-green {
  color: #66cc33; }

.tx-disable {
  color: #ccc; }

.editable-click, a.editable-click, a.editable-click:hover {
  text-decoration: none;
  border-bottom: dashed 1px #47c7eb; }

.popover.editable-container {
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  padding: 0; }
  .popover.editable-container .popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px 5px 0 0; }
  .popover.editable-container .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(255, 255, 255, 0.25);
    bottom: -11px; }

.well {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #F9F9F9; }

/* ==========================================================================
   Link
   ========================================================================== */
a {
  color: #47c7eb; }
  a:hover, a:focus, a:focus a:hover, a:hover a:focus {
    color: #08a9d6; }

p {
  color: #606161;
  font-size: .9em; }

.btn {
  display: inline-block;
  padding: 6px 20px 6px 20px;
  margin: 0px 5px 2px 0;
  border: 1px solid;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,.35); */
  background-clip: padding-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .btn:hover, .btn:focus, .btn:active {
    text-decoration: none; }
  .btn i {
    margin-right: .25em; }
  .btn:hover, .btn:focus, .btn:focus .btn:hover, .btn:hover .btn:focus {
    color: #fff; }

.btn-default {
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:hover, .btn-default:focus, .btn-default:focus .btn-default:hover, .btn-default:hover .btn-default:focus {
    color: #333;
    background-color: #e6e6e6; }

.btn-delete {
  padding: 1px 7px !important;
  background: #e74c33 !important;
  border-color: #d0442e !important; }
  .btn-delete:hover, .btn-delete:focus, .btn-delete:focus .btn-delete:hover, .btn-delete:hover .btn-delete:focus {
    color: #fff !important;
    opacity: .75; }
  .btn-delete i {
    margin: 0; }

.btn-edit {
  padding: 1px 7px !important;
  border-color: #08a9d6 !important;
  background-color: #47c7eb !important; }
  .btn-edit:hover, .btn-edit:focus, .btn-edit:focus .btn-edit:hover, .btn-edit:hover .btn-edit:focus {
    color: #fff !important;
    opacity: .75; }
  .btn-edit i {
    margin: 0; }

.btn-danger {
  background: #e74c33;
  border-color: #d0442e; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:focus .btn-danger:hover, .btn-danger:hover .btn-danger:focus {
    color: #fff !important;
    background: #d0442e; }

.btn-success {
  background: #66cc33;
  border-color: #53b821; }
  .btn-success:hover, .btn-success:focus, .btn-success:focus .btn-success:hover, .btn-success:hover .btn-success:focus {
    color: #fff !important;
    background: #53b821; }

.btn-block {
  width: 100%; }

.btn-primary {
  border-color: #08a9d6;
  background-color: #47c7eb; }
  .btn-primary:hover {
    background-color: #08a9d6; }

.btn-info {
  border-color: #565757;
  background-color: #606161; }

.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
  z-index: 0; }

.content h1, .content .content h2, .content .content h3 {
  font-size: 1.6em;
  margin: 1.3em 0 0 0;
  color: #606161;
  font-weight: 400;
  margin-bottom: 10px; }
.content hr {
  margin-top: .5em;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ededed; }
.content .content label {
  font-weight: normal;
  color: #606161;
  font-size: .9em; }

.panel-login label {
  font-weight: normal;
  color: #606161;
  font-size: .9em; }

/* ==========================================================================
   Form elements
   ========================================================================== */
.form-control {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .form-control::focus {
    border-color: #08a9d6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(249, 118, 31, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(249, 118, 31, 0.6); }

.select-icon {
  color: #cccccc;
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 10px;
  pointer-events: none; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
.content {
  padding-bottom: 30px; }

#sidebar {
  background: #1c1c1f;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999; }

.side-menu {
  margin: 0; }
  .side-menu .brand {
    background: url("../img/logo.png");
    background-size: 160px 58px;
    height: 58px;
    background-repeat: no-repeat;
    text-indent: -999999px;
    margin: 0; }
  .side-menu li.logotipo {
    border-bottom: 1px solid #27272C;
    height: 65px; }
    .side-menu li.logotipo > a {
      padding: 0px 10px;
      margin: 10px 0;
      height: 58px; }
  .side-menu li {
    padding: 0 10px; }
    .side-menu li > a {
      color: #dfe0e6;
      padding: 8px 15px;
      height: 50px;
      overflow: hidden;
      -webkit-transition: color .2s;
      -moz-transition: color .2s;
      -ms-transition: color .2s;
      -o-transition: color .2s;
      transition: color .2s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
      .side-menu li > a:hover, .side-menu li > a:focus, .side-menu li > a:focus .side-menu li > a:hover, .side-menu li > a:hover .side-menu li > a:focus {
        color: #47c7eb;
        background: none; }
      .side-menu li > a > i {
        font-size: 14px;
        margin-right: 15px;
        line-height: 40px;
        width: 15px;
        vertical-align: middle; }
      .side-menu li > a > span {
        font-size: 12px; }
    .side-menu li ul {
      height: 0;
      overflow: hidden;
      list-style: none;
      padding-left: 10px; }
      .side-menu li ul li {
        border: none;
        height: 40px; }
        .side-menu li ul li > a {
          padding: 15px;
          text-decoration: none; }
          .side-menu li ul li > a span {
            font-size: 12px; }
    .side-menu li.expand ul {
      height: 155px;
      overflow: visible; }

/* ==========================================================================
   Content
   ========================================================================== */
#page-wrapper {
  background: #f8f8f8;
  margin-left: 200px;
  z-index: 999; }

/* Navbar top
========================================================================== */
.navbar-top {
  background: #ffffff;
  border-bottom: 1px solid #ededed;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin-bottom: 0;
  height: 75px;
  position: fixed;
  width: 100%;
  padding-left: 185px;
  margin-left: -190px;
  top: 0;
  z-index: 9; }

/*box-shadow: 0 1px 4px rgba(0,0,0,.1);*/
.user {
  border: 1px solid #ededed;
  background: #f8f8f8 !important;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  padding-right: 8px;
  /*padding: 0 8px 0 0  !important;*/
  margin-right: 0;
  /*  margin-top: 17.5px;*/ }
  .user .caret {
    margin-right: 5px; }

.user img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 8px; }

#navbar {
  padding-left: 0; }

.navbar-nav > li > a {
  padding-top: 22.5px;
  padding-bottom: 22.5px;
  color: #606161;
  font-size: 12px; }

.nav .open > .user, .nav .open > .user:hover, .nav .open > .user:focus {
  border-color: #ededed; }

.navbar-top .navbar-nav > li > a:hover, .navbar-top .navbar-nav > li > a:focus, .navbar-top .navbar-nav > li > a:active {
  background: none; }

/* Dropdown nav-top */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: #337ab7; }

.nav .dropdown ul.dropdown-menu {
  border-radius: 4px;
  margin-top: -5px;
  right: 15px;
  padding: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1) !important;
  border: none; }
  .nav .dropdown ul.dropdown-menu > li > a {
    display: block;
    padding: 10px;
    clear: both;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #333;
    white-space: nowrap;
    border-radius: 4px; }
    .nav .dropdown ul.dropdown-menu > li > a i {
      margin-right: 10px;
      color: #606161;
      /*color: #47c7eb;*/ }
  .nav .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: -8px;
    right: 12px;
    z-index: 10; }
  .nav .dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 10px solid #eee;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 9; }
.nav .dropdown .divider {
  height: 1px;
  margin: 10px -10px;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-header {
  display: block;
  padding: 3px 15px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap; }

/* Breadcrumb
========================================================================== */
.sub-header {
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 75px;
  background: #ffffff;
  border-bottom: 1px solid #ededed;
  padding: 15px;
  -webkit-box-shadow: 0 1px 10px 0 #ededed;
  box-shadow: 0 1px 10px 0 #ededed; }

.sub-header .dropdown {
  float: right; }
  .sub-header .dropdown .btn {
    padding: 5px 20px 6px 20px; }
  @media screen and (max-width: 992px) {
    .sub-header .dropdown .btn {
      margin-right: 0;
      margin-top: 15px; } }
  .sub-header .dropdown ul.dropdown-menu {
    right: 0;
    left: auto; }
    .sub-header .dropdown ul.dropdown-menu li a {
      padding: 3px 14px; }
      .sub-header .dropdown ul.dropdown-menu li a i {
        margin-right: 5px;
        width: 15px; }

.breadcrumb {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  background: #ffffff;
  border-bottom: 0;
  margin: 0;
  padding: 8px 0; }

/* ==========================================================================
   Sidebar contract 
   ========================================================================== */
/* Sidebar */
.contract #sidebar {
  width: 75px; }
.contract .navbar-top {
  padding-left: 60px;
  margin-left: -60px;
  padding-right: 20px; }
.contract .side-menu .brand {
  background: url("../img/logo.png");
  background-size: initial;
  height: 55px;
  width: 15px;
  background-repeat: no-repeat;
  text-indent: -999999px;
  margin: 0;
  background-position: -150px 5px;
  margin: auto; }
.contract .side-menu li.logotipo {
  border-bottom: 1px solid #27272C;
  height: 65px; }
  .contract .side-menu li.logotipo > a {
    padding: 0px 10px;
    margin: 10px 0;
    height: 58px; }
.contract .side-menu li {
  width: 75px; }
  .contract .side-menu li > a {
    /*text-align: center;*/
    text-align: center;
    padding: 8px 12.5px; }
    .contract .side-menu li > a > i {
      margin-right: 0;
      font-size: 22px;
      width: 30px; }
    .contract .side-menu li > a > span {
      display: none; }
  .contract .side-menu li ul > li {
    display: none; }
    .contract .side-menu li ul > li li span {
      display: inline-block; }

/* Content */
.contract #page-wrapper {
  margin-left: 75px; }

/* ==========================================================================
   Paneis login
   ========================================================================== */
.panel-login {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px 0 #ededed;
  box-shadow: 0 5px 10px 0 #ededed;
  border: 1px solid #ededed; }
  .panel-login .panel-heading {
    text-align: center;
    padding: 20px 15px 0 15px; }
    .panel-login .panel-heading hr {
      margin: 20px 0 0 0; }

.terms-login {
  text-align: center;
  padding: 0 30px; }

/* ==========================================================================
   MEDIA QUERIE NAVBAR
   ========================================================================== */
/* 1. Responsive
========================================================================== */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  #page-wrapper {
    margin-left: 175px; }

  .wrapper {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; }

  /* Form */
  .select-icon {
    color: #cccccc;
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-size: 10px;
    pointer-events: none; }

  /* Sidebar */
  #sidebar {
    margin-left: 0;
    background: #1c1c1f;
    width: 175px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999; }

  .side-menu li > a {
    /*text-align: center;*/
    text-align: left;
    padding: 5px 12.5px; }

  .side-menu .brand, .contract .side-menu .brand {
    background: url("../img/logo.png");
    background-size: 126px 45px !important;
    height: 58px;
    width: auto;
    background-repeat: no-repeat;
    text-indent: -999999px;
    margin: 0; }

  .sub-header {
    margin-top: 0;
    padding: 15px 15px; }

  .breadcrumb {
    margin-top: 0;
    padding: 15px 0; }

  /* Content */
  #page-wrapper {
    margin-right: -175px; }

  /* Contract
  ========================================================================== */
  .contract .wrapper {
    overflow: scroll;
    height: inherit; }

  .contract .side-menu li.logotipo {
    border-bottom: 1px solid #27272C;
    height: 55px; }

  /* Sidebar */
  .contract #sidebar {
    margin-left: -175px;
    background: #1c1c1f;
    width: 175px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; }

  .side-menu li.logotipo {
    border-bottom: 1px solid #27272C;
    height: 55px; }

  .contract .side-menu li {
    width: 175px; }

  .contract .side-menu li > a {
    /*text-align: center;*/
    text-align: left;
    padding: 5px 12.5px; }

  .contract .side-menu li > a > i {
    width: 15px;
    margin-right: 15px;
    font-size: 14px; }

  .contract .side-menu li > a > span {
    display: inline-block; }

  /* Content */
  .contract #page-wrapper {
    margin-right: 0;
    margin-left: 0; }

  .navbar-top {
    position: relative;
    padding-left: 15px;
    margin-left: 0; }

  .contract .navbar-top {
    height: 65px;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: relative; }

  .navbar-top #navbar {
    padding: 0 15px; }

  /* ==========================================================================
     Top Menu
     ========================================================================== */
  .navbar-top {
    height: 65px; }

  .navbar-top .navbar-nav {
    margin: 5px -15px; }

  .navbar-top .navbar-left {
    width: 3em;
    float: left; }

  .navbar-top .navbar-left > li > a {
    position: relative;
    display: block;
    padding: 15px; }

  .navbar-top .navbar-right {
    width: auto;
    float: right; }

  .navbar-top .navbar-right > li > a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 0; }

  /* DROPDOWN */
  .navbar-nav .dropdown .open .dropdown-menu, .navbar-nav .dropdown .dropdown-menu {
    margin-top: 5px;
    right: 12px;
    left: -5px;
    position: absolute;
    background: white; }

  .navbar-nav .dropdown-menu > li > a {
    line-height: 12px; }

  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px;
    line-height: 12px; }

  .dropdown-menu .divider {
    margin: 10px -10px; }

  /* ==========================================================================
     Breadcrumb
     ========================================================================== */
  .breadcrumb li {
    font-size: .8em; } }
      /*==================================
=            DatePicker            =
==================================*/
@media (min-width: 564px) {
  .daterangepicker .ranges ul {
    width: 100%; } }
.range_inputs button:last-child {
  margin-right: 0; }

.daterangepicker.dropdown-menu {
  border: none; }

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #EFEFEF; }

.datePicker {
  float: right; }
  @media screen and (max-width: 768px) {
    .datePicker {
      float: left;
      width: 100%; } }
  .datePicker #reportrange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 2px; }
    @media screen and (max-width: 768px) {
      .datePicker #reportrange .caret {
        float: right;
        margin-top: 8px; } }

/*===============================
=            Remodal            =
===============================*/
.remodal-overlay {
  background: rgba(45, 45, 45, 0.9); }

.remodal-close {
  right: 0;
  float: right;
  left: inherit; }

.remodal-confirm {
  border-color: #08a9d6;
  background-color: #47c7eb;
  padding: 6px 20px 6px 20px;
  margin: 0px 5px 2px 0;
  border: 1px solid;
  color: #fff !important;
  text-decoration: none;
  font-size: 14px;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,.35); */
  background-clip: padding-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .remodal-confirm:hover {
    background-color: #08a9d6; }

.remodal {
  border-radius: 4px; }

@media screen and (max-width: 768px) {
  .editable-buttons {
    display: block;
    margin: 7px 0 0; }
    .editable-buttons button {
      width: 46.5%; } }

/*=================================
=              Clone              =
=================================*/
.clone {
  position: relative; }
  .clone .delete-imob {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    border-radius: 0 4px 0 4px; }

.clone-inside hr {
  margin-top: 0;
  margin-bottom: 15px !important; }
@media screen and (max-width: 768px) {
  .clone-inside .btn-clone-inside {
    display: inline-block; } }
.clone-inside .btn-clone-inside button {
  float: right;
  padding: 6px 12px 6px 12px; }
  .clone-inside .btn-clone-inside button span {
    display: none; }
  .clone-inside .btn-clone-inside button i {
    margin: 0; }
  @media screen and (max-width: 768px) {
    .clone-inside .btn-clone-inside button {
      width: 48%;
      margin-bottom: 15px; }
      .clone-inside .btn-clone-inside button:first-child {
        margin-left: 5px;
        margin-right: 0; }
      .clone-inside .btn-clone-inside button span {
        display: inline-block;
        margin-right: 5px; }
      .clone-inside .btn-clone-inside button:first-child {
        float: left; }
      .clone-inside .btn-clone-inside button:first-child {
        float: right; } }
.clone-inside .form-group, .clone-inside .input-group {
  margin-bottom: 15px; }

.label-clone {
  font-weight: 400;
  margin-bottom: 15px; }

/**
 *
 * Upload
 *
 */
.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 10%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

#img-upload {
  width: 10%; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.bootstrap-tagsinput {
  border-radius: 2px;
  display: block;
  padding: 6px 12px; }

/**
 *
 * Alerts
 *
 */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert h4 {
  margin-top: 0;
  color: inherit; }

.alert .alert-link {
  font-weight: bold; }

.alert > p, .alert > ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 15px; }

.alert > p + p {
  margin-top: 5px; }

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px; }

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit; }

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-success hr {
  border-top-color: #c9e2b3; }

.alert-success .alert-link {
  color: #2b542c; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-info hr {
  border-top-color: #a6e1ec; }

.alert-info .alert-link {
  color: #245269; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-warning hr {
  border-top-color: #f7e1b5; }

.alert-warning .alert-link {
  color: #66512c; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.alert-danger hr {
  border-top-color: #e4b9c0; }

.alert-danger .alert-link {
  color: #843534; }

/*=============================
=            Cards            =
=============================*/
.card {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 20px;
  height: 150px;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-size: 22px; }
  .card:hover, .card:focus, .card:focus .card:hover, .card:hover .card:focus {
    text-decoration: none;
    color: #fff;
    opacity: .75; }
  .card.azul {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46caa6+1,2989d8+100,3f77c4+100 */
    background: #46caa6;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #46caa6 1%, #2989d8 100%, #3f77c4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #46caa6 1%, #2989d8 100%, #3f77c4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #46caa6 1%, #2989d8 100%, #3f77c4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46caa6', endColorstr='#3f77c4',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .card.roxo {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b89c6+1,9f77b7+100 */
    background: #3b89c6;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3b89c6 1%, #9f77b7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3b89c6 1%, #9f77b7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3b89c6 1%, #9f77b7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b89c6', endColorstr='#9f77b7',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .card.rose {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feb48c+1,e6678f+100 */
    background: #feb48c;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #feb48c 1%, #e6678f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #feb48c 1%, #e6678f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #feb48c 1%, #e6678f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb48c', endColorstr='#e6678f',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .card.amarelo {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd84f+0,feb48c+100,feb48c+100 */
    background: #ffd84f;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffd84f 0%, #feb48c 100%, #feb48c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffd84f 0%, #feb48c 100%, #feb48c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffd84f 0%, #feb48c 100%, #feb48c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd84f', endColorstr='#feb48c',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

/*=============================
=            Cards            =
=============================*/
.panel.panel-inside .panel-body {
  padding: 15px 15px 30px 15px; }
  .panel.panel-inside .panel-body .panel-heading {
    padding: 10px 0;
    font-size: 18px;
    color: #606161; }
    .panel.panel-inside .panel-body .panel-heading form {
      display: inline-block;
      float: right; }
    .panel.panel-inside .panel-body .panel-heading.graph {
      padding: 0 0 15px; }
      .panel.panel-inside .panel-body .panel-heading.graph span {
        font-size: 14px; }
      .panel.panel-inside .panel-body .panel-heading.graph h3 {
        font-size: 18px;
        color: #606161;
        margin: 0; }
    .panel.panel-inside .panel-body .panel-heading button {
      float: right;
      padding: 4px 20px 4px 20px;
      margin: 0 0 0 5px;
      font-size: 12px; }
      .panel.panel-inside .panel-body .panel-heading button:hover, .panel.panel-inside .panel-body .panel-heading button:focus, .panel.panel-inside .panel-body .panel-heading button:hover:focus {
        opacity: 0.75; }
  .panel.panel-inside .panel-body hr {
    margin-bottom: 30px; }
.panel.panel-inside h2 {
  padding: 10px 0;
  font-size: 18px;
  color: #606161;
  font-weight: 400; }

/*==============================
=            Charts            =
==============================*/
.chart-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 3px; }

.chart-legend ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.chart-legend {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: scroll; }

#canvas-holder1 {
  width: 300px;
  margin: 20px auto; }

#canvas-holder2 {
  width: 50%;
  margin: 20px 25%; }

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 3px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px; }

.table.nb-header > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0; }

.table.dataTable.no-footer {
  border-bottom: 0px; }

.dataTables_wrapper div.row:first-child {
  margin-bottom: 15px !important; }
.dataTables_wrapper div.row:last-child {
  margin-top: 15px !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  border: 1px solid #fff;
  box-shadow: none; }

.table {
  color: #6B6B6B; }

.dataTables_filter label {
  position: relative; }
  .dataTables_filter label::before {
    position: absolute;
    top: 7px;
    right: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f002";
    color: #ccc; }

table.footable, table.footable-details {
  background: none !important; }

@media screen and (max-width: 768px) {
  .footable-detail-row td:first-child {
    padding: 0 0 15px !important; } }

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: left; }

  .dataTables_wrapper .dataTables_filter {
    margin-top: 0;
    text-align: right; } }
table tbody {
  font-size: 12px; }

.glyphicon.glyphicon-ok {
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; }
  .glyphicon.glyphicon-ok:before {
    content: "\f00c"; }

.glyphicon.glyphicon-remove {
  color: #333;
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; }
  .glyphicon.glyphicon-remove:before {
    content: "\f05e"; }

.footable-details.table > tbody > tr > td, .footable-details.table > tbody > tr > th, .footable-details.table > tfoot > tr > td, .footable-details.table > tfoot > tr > th, .footable-details.table > thead > tr > td, .footable-details.table > thead > tr > th, .footable.table > tbody > tr > td, .footable.table > tbody > tr > th, .footable.table > tfoot > tr > td, .footable.table > tfoot > tr > th, .footable.table > thead > tr > td, .footable.table > thead > tr > th {
  vertical-align: middle; }

.dataTables_wrapper .dataTables_processing {
  height: 150px;
  margin-left: -50%;
  margin-top: -75px;
  padding-top: 66px; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 1px 0;
  margin-left: 0px;
  /* border: none; */
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: #333 !important;
  border: none !important;
  border-radius: 2px; }

.pagination > li > a, .pagination > li > span {
  color: #47c7eb !important;
  border: none !important; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 2;
  color: #08a9d6;
  background-color: transparent !important;
  border-color: transparent !important; }

td form, td .dropdown {
  display: inline-block; }

td .dropdown .btn {
  padding: 2px 12px; }
td .dropdown ul.dropdown-menu {
  right: 0;
  left: auto; }
  td .dropdown ul.dropdown-menu li a {
    padding: 3px 14px; }
    td .dropdown ul.dropdown-menu li a i {
      margin-right: 5px;
      width: 15px; }

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 10px !important; }

.footable .btn {
  -webkit-appearance: inherit !important; }

table.dataTable > tbody > tr.child .dropdown ul.dropdown-menu {
  display: none; }

table.dataTable > tbody > tr.child .dropdown.open ul.dropdown-menu {
  display: inline-block; }

table.dataTable > tbody > tr.child .dropdown ul li {
  border-bottom: 1px solid #efefef;
  padding: 2px 0; }

table.dataTable > tbody > tr .child {
  padding-left: 0; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child {
  position: relative;
  padding-left: 0;
  cursor: pointer; }

table.dataTable > tbody > tr.child .dtr-data {
  margin: auto; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background: none;
  color: #ccc;
  font-size: 20px;
  border: none;
  box-shadow: none;
  margin-left: 4px; }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background: none;
  font-size: 20px; }

.tt-query,
.tt-hint {
  color: #eee; }

.tt-query {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999; }

.tt-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: auto;
  min-width: 300px;
  margin-top: 12px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px; }

.tt-suggestion {
  padding: 5px 15px;
  line-height: 24px;
  cursor: pointer; }

.tt-suggestion.tt-is-under-cursor {
  /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #0097cf; }

.tt-suggestion p {
  margin: 0; }
